<div class="contenido">
	<div class="login">	
<% if flash[:alert] %>
	<div id="notice"><%= flash[:alert] %></div>
<% end %>
<%= form_tag do %>
	<div class="cintilla">Inicio de sesión</div>
	<br>
	<%= label_tag :username, 'Usuario:' %>
	<%= text_field_tag :username, params[:username] %>
	<br>
	<%= label_tag :password, 'Password:' %>
	<%= password_field_tag :password, params[:password] %>
	<br>
	<%= submit_tag "Login", class: 'boton' %>
	<br>
<% end %>
	<%= link_to "(Olvidé mi contraseña)", new_password_reset_path, class: 'olvidePass' %>
</div>
</div>		
