<h1>Mailer#send</h1>

<p>Los siguintes datos fueron proporcionados por medio de la forma de contacto</p>

  <p>
    <%= @datos[:nombre] %>
  </p>
  <p>
    <%= @datos[:email] %>
  </p>
  <p>
    <%= @datos[:empresa] %>
  </p>
  <p>
    <%= @datos[:telefono] %>
  </p>  
  <p>
    <%= @datos[:cp] %>
  </p> 
  <p>
    <%= @datos[:pais] %>
  </p> 
  <p>
    <%= @datos[:comentarios] %>
  </p>