<div class="contenido_productos">
	<div class="izquierda">
		<div class="titulo">Procesar Pedido &reg;</div>	
		<hr>				
	</div>												
</div>

	<div class="centrar"><%= button_to "Enviar" ,class: "boton_pedido" %></div>	
    
    <div class="centrar">
      <table class="tabla_formato" width="900" border="0" cellpadding="0" cellspacing="0">
      <tr class="tabla_encabezado_azul">
        <td>Medida de <br /> arandela</td>
        <td>Medida [mm]</td>
        <td>Medida [inch]</td>
        <td>Diametro <br />interno</td>
        <td>Diametro <br />externo</td>
        <td>Grosor T</td>
        <td>Piezas x <br /> paquete</td>
        <td>Peso</td>
        <td>no. Art</td>        
        <td class="tabla_encabezado_griss">Cantidad por pares</td>
         <td></td>
      </tr>
      <tbody>
        <% cart.line_items.each do |product| %>    
            <tr class="tabla_contenido">
              <td><%= product.washer_size %></td>
              <td><%= product.bolt_size_metric %></td>
              <td><%= product.bolt_size_unc %></td>
              <td><%= product.diameter_inside %></td>
              <td><%= product.diameter_outside %></td>
              <td><%= product.thickness_t %></td>
              <td><%= product.min_package %></td>
              <td><%= product.weight %></td>
              <td><%= product.art_no %></td>
              <%= form_tag(line_items_path , remote: true) do %>
              <%= hidden_field_tag "product_id", "#{product.id}"%>
              <td><%= number_field_tag "quantity" %>
              <%= submit_tag 'Agregar' %></td>
              <% end %>
            </tr> 
        <% end %>  
      </tbody>
    </table>
    </div> 

	<div class="centrar"><%= button_to "Enviar" ,class: "boton_pedido" %></div>	