<% case @category %>
<% when "arandela_protekt"%>
    <div id="arandela_protekt" class="contenido_productos">
      <div class="izquierda">
        <div class="titulo">Arandelas Delta Protekt &reg;</div> 
        <hr>      
        <div class="descripcion">
          <p><strong>Aplicaciones industriales:</strong></p>
          <p>Contstucción, deportes, juegos mecánicos, agricultura.</p>
        </div>  
      </div>        
      <div class="derecha">
        <p><strong>Restricciones:</strong></p>
            <ul>
            <li>Dureza no mayor a 461HV1 ó 46 Rockwell</li>
            <li>Grado de tornillo hasta 12.9</li>
            <li>Rango de temperatura: -20°C a 200°C</li>                
          </ul>
      </div>                
    </div>
<% when "arandela_316L" %>
    <div id="arandela_316L" class="contenido_productos">
      <div class="izquierda">
        <div class="titulo">ARANDELA DE ACERO INOXIDABlE 316L</div> 
        <hr>      
        <div class="descripcion">
        </div>  
      </div>        
      <div class="derecha">
      </div>                
    </div>
<% when "arandela_254SMO" %>
    <div id="arandela_254SMO" class="contenido_productos">
      <div class="izquierda">
        <div class="titulo">ARANDELA DE ACERO INOXIDABlE 254 SMO</div> 
        <hr>      
        <div class="descripcion">
        </div>  
      </div>        
      <div class="derecha">
      </div>                
    </div>
<% when "arandela_especiales" %>
    <div id="arandela_especiales" class="contenido_productos">
      <div class="izquierda">
        <div class="titulo">Arandelas Delta Protekt &reg;</div> 
        <hr>      
        <div class="descripcion">
        </div>  
      </div>        
      <div class="derecha">
      </div>                
    </div>
<% else %>
    <p> no se encontró la categoría.</p>
<% end %>
<% @cat = @category %>
  <%= form_tag('index',:method => :get) do |product| %>
      <table class="tabla_formato" width="900" border="0" cellpadding="0" cellspacing="0">
      <tr class="tabla_encabezado_azul">
  <td><p>Diametro Interior</p></td>
  <td> <p>Diametro Exterior</p></td>
  <td> <p>Tamaño Métrico</p></td>
  <td> <p>Tamaño UNC</p></td>
  <td> <p>Grosor</p></td>
    <td collspan="2"> <%= submit_tag 'Filtrar' %></td>
  </tr>
  <tr class="tabla_contenido">
       <td><%= select("product", "diameter_inside", @products.order("diameter_inside").collect {|p| [ p.diameter_inside, p.diameter_inside ] }.uniq, {include_blank: 'Todas'}) %> </td>
       <td><%= select("product", "diameter_outside", @products.order("diameter_outside").collect {|p| [ p.diameter_outside, p.diameter_outside ] }.uniq, {include_blank: 'Todas'}) %></td>
      <td><%= select("product", "bolt_size_metric", @products.order("bolt_size_metric").collect {|p| [ p.bolt_size_metric, p.bolt_size_metric ] }.uniq, {include_blank: 'Todas'}) %></td>
      <td><%= select("product", "bolt_size_unc", @products.order("bolt_size_unc").collect {|p| [ p.bolt_size_unc, p.bolt_size_unc ] }.uniq, {include_blank: 'Todas'}) %></td>
      <td><%= select("product", "thickness_T", @products.order("thickness_T").collect {|p| [ p.thickness_T, p.thickness_T ] }.uniq, {include_blank: 'Todas'}) %>
      <%= hidden_field_tag "category", @cat %></td>
      <td></td>
  </tr>
  </table>
  <% end %>



	<div class="centrar"><%= button_to 'REALIZAR PEDIDO', "/review_cart" , method: :get, class: "boton_pedido" %></div>	
    
    <div class="centrar">
      <table class="tabla_formato" width="900" border="0" cellpadding="0" cellspacing="0">
      <tr class="tabla_encabezado_azul">
        <td>Medida de <br /> arandela</td>
        <td>Medida [mm]</td>
        <td>Medida [inch]</td>
        <td>Diametro <br />interno</td>
        <td>Diametro <br />externo</td>
        <td>Grosor T</td>
        <td>Piezas x <br /> paquete</td>
        <td>Peso</td>
        <td>no. Art</td>        
        <td class="tabla_encabezado_griss">Cantidad por pares</td>
         <td></td>
      </tr>
      <tbody>
        
          <% @products.each do |product| %>
          
            <tr class="tabla_contenido">
              <td><%= product.washer_size %></td>
              <td><%= product.bolt_size_metric %></td>
              <td><%= product.bolt_size_unc %></td>
              <td><%= product.diameter_inside %></td>
              <td><%= product.diameter_outside %></td>
              <td><%= product.thickness_T %></td>
              <td><%= product.min_package %></td>
              <td><%= product.weight %></td>
              <td><%= product.art_no %></td>
               <td>
              <%= form_tag(line_items_path , remote: true) do %>
                <%= hidden_field_tag "product_id", "#{product.id}"%>
               <%= number_field_tag "quantity" %>
                <%= submit_tag 'Agregar' %>
              <% end %>
              </td>
            </tr>
          <% end %>  
         
        </tbody>
    </table>
    </div> 

	<div class="centrar"><%= button_to 'REALIZAR PEDIDO', "/review_cart" , method: :get, class: "boton_pedido" %>	</div>