	<meta charset="utf-8" />
    <title>Header</title>
<div class="banner">
	<div class="logo"><%= link_to image_tag("logo.png"), root_url %></div>
	<form class="buscador">
<!--		<script>
  (function() {
    var cx = '010772625337884803570:3tp6-7zf_js';
    var gcse = document.createElement('script');
    gcse.type = 'text/javascript';
    gcse.async = true;
    gcse.src = (document.location.protocol == 'https:' ? 'https:' : 'http:') +
        '//www.google.com/cse/cse.js?cx=' + cx;
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(gcse, s);
  })();
</script>
<gcse:search></gcse:search> -->
	</form>
		    <div class='menu'>
          <ul>
            <li><%=  link_to 'NOSOTROS', "/nosotros" %></li>
            <li><%=  link_to 'PRODUCTOS', "/productos" %> 
              <ul>
                <li><% @categoria = "arandela_protekt" %>
                    <%=  link_to 'ARANDELA DELTA PROTEKT', catalogo_index_path(:category =>@categoria), class: "azul" %></li>
                <li><% @categoria = "arandela_316L" %>
                    <%=  link_to 'ARANDELA DE ACERO INOXIDABLE 316L', catalogo_index_path(:category =>@categoria), class: "azul" %></li>
                <li><% @categoria = "arandela_254SMO" %><%=  link_to 'ARANDELA DE ACERO INOXIDABLE 254 SMO', catalogo_index_path(:category =>@categoria), class: "azul" %></li>
                <li><% @categoria = "arandela_especiales" %><%=  link_to 'ARANDELAS ESPECIALES', catalogo_index_path(:category =>@categoria), class: "azul" %></li>
              </ul> </li>
            <li><a href="#">CLIENTES</a></li>
            <li><%=  link_to 'CONTACTO', "/contacto" %></li>
          </ul>
        </div > 
    
	</div>
</html>