<!-- START:head -->
<!DOCTYPE html>
<html>
<head>
<!-- START_HIGHLIGHT -->
  <title>Nord-Lock &reg;</title>
<!-- END_HIGHLIGHT -->
    <label id="code.slt"/> <%= stylesheet_link_tag    "application", media: "all",
    "data-turbolinks-track" => true %>
   <!-- <link rel="stylesheet" type="text/css" href="code/css/estilo.css"> -->
    
    <meta name="viewport" content="width=device-width, initial-scale=1" />    
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %><!-- <label id="code.jlt"/> -->
  <%= csrf_meta_tags %><!-- <label id="code.csrf"/> -->
  <%= render partial: "/layouts/login" %>
  <%= render partial: "/layouts/header" %>
 <div class="breadcrumb"> <%= render_breadcrumbs :separator => ' / ' %></div>
</head>
<!-- END:head -->
<!--<body class="<%= controller.controller_name %>">-->
<body>
<div class="contenido">
<!-- START_HIGHLIGHT -->
  <div id="columns">
    <div id="main">
<!-- END_HIGHLIGHT -->
      <%= yield %><!-- <label id="code.depot.e.include"/> -->
<!-- START_HIGHLIGHT -->
    </div>
  </div>
<!-- END_HIGHLIGHT -->
 </div>
</body>
<footer>
  <%= render partial: "/layouts/footer" %>
</footer>
</html>
